<tr>
  <td><%= image_tag author.avatar, alt: "author avatar", :class => "img-circle avatar user-avatar avatar-xs" %><span class="mtl mlm"><%= author.name %></span></td>
  <td><%= author.email %></td>
  <td><%= author.posts.count %></td>
  <% if author == current_author %>
    <td><%= link_to "Edit", edit_author_path(current_author), :class => "btn btn-primary btn-sm" %></td>
  <% end %>
</tr>
