<% @posts.each do |post| %>
  <tr>
    <td><%= link_to "#{post.title}", post %></td>
    <td><%= post.author.name %></td>
    <td><%= post.status %></td>
    <td>
      <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-primary btn-sm" %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-sm" %>
    </td>
  </tr>
<% end %>
