<!DOCTYPE html>
<html>
<head>
  <title><%= @meta_title %></title>
  <meta name="description" content="<%= @meta_description %>">
  <meta name="description" content="<%= @meta_keywords %>">
  <%= stylesheet_link_tag    "blogr/application", media: "all" %>
  <%= javascript_include_tag "blogr/application" %>
  <%= csrf_meta_tags %>

  <%= render "blogr/3rd_party/analytics_head" %>
  <%= render "blogr/3rd_party/share_this" %>
</head>
<body class="blogr">
  <%= render "blogr/3rd_party/analytics_body" %>
  <%= auto_discovery_link_tag(:rss, root_url) %>
  <%= render "blogr/shared/nav" %>
  <%= render "blogr/shared/notice" %>
  <%= yield %>

  <%= render "blogr/3rd_party/disqus" %>
</body>
</html>
