<!DOCTYPE html>
<html>
<head>
  <title>Blogr</title>
  <%= stylesheet_link_tag    "blogr/application", media: "all" %>
  <%= javascript_include_tag "blogr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "blogr/shared/nav" %>
<%= render "blogr/shared/notice" %>
<%= yield %>

</body>
</html>
