<%= form_for(@post, role: "form") do |f| %>
  <%= render "blogr/shared/form_errors", object: @post %>

  <div class="form-group">
    <%= f.text_field :title, :class => "form-control input-underline name-input", placeholder: "Post title", autofocus: true, value: @post.title || "Post title" %>
    <style>
      .name-input { font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif; }
    </style>
  </div>

  <div class="editable" data-content="<%= @post.text %>"></div>
  <%= f.hidden_field :text %>
  <% if @post.text %>
    <script>
      var editor = new MediumEditor('.editable', {
        anchorInputPlaceholder: 'Type a link',
        buttons: ['bold', 'italic', 'anchor', 'header1', 'header2', 'quote', 'strikethrough', 'unorderedlist', 'orderedlist', 'link', 'image'],
        targetBlank: true,
        placeholder: ""
      });
    </script>
  <% else %>
    <script>
      var editor = new MediumEditor('.editable', {
        anchorInputPlaceholder: 'Type a link',
        buttons: ['bold', 'italic', 'anchor', 'header1', 'header2', 'quote', 'strikethrough', 'unorderedlist', 'orderedlist', 'link', 'image'],
        targetBlank: true
      });
    </script>
  <% end %>

  <hr>
  <div class="form-group">
    <%= f.label :header, "Header Image" %>
    <%= f.file_field :header, :class => "form-control" %>
    <p class="help-block">
      Resources:
      <%= link_to "Canva", "https://www.canva.com/" %>,
      <%= link_to "Unsplash", "http://www.arthurweill.fr/Unsplash/en" %>
    </p>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :published, :class => "form-control" %>
      <span>Publish?</span>
    </label>
  </div>
  <%= f.submit nil, :class => "btn btn-primary mbxl" %>
<% end %>
