<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="shares text-center">
      <span class='st_twitter_large' displayText='Tweet' st_title="<%= @post.title %>" st_summary="<%= @post.title %>" st_url="<%= request.url %>" st_via="leanlab_io"></span>
      <span class='st_facebook_large' displayText='Facebook' st_title="<%= @post.title %>" st_summary="<%= @post.title %>" st_url="<%= request.url %>" st_via="leanlab_io"></span>
      <span class='st_linkedin_large' displayText='LinkedIn' st_title="<%= @post.title %>" st_summary="<%= @post.title %>" st_url="<%= request.url %>" st_via="leanlab_io"></span>
      <span class='st_email_large' displayText='Email' st_title="<%= @post.title %>" st_summary="<%= @post.title %>" st_url="<%= request.url %>" st_via="leanlab_io"></span>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
