<h1><%= @post.title %></h1>
<small>by <%= @post.user.name %> <%= "on #{@post.published_at.strftime("%d %b, %Y")}" if @post.published_at %></small>

<p><%= @post.text %></p>

<hr>
<% if is_admin? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', root_path %>
