<% if current_author %>
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#collapse-menu" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_url do %>
              <%= image_tag("blogr/logo_small.png", :class => "logo") %>
            <% end %>
          </div>
          <div class="collapse navbar-collapse" id="collapse-menu">
            <div class="nav-spacer"></div>
            <ul class="nav navbar-nav">
              <li class="<%= ("font-w-bold" if controller.controller_name == "authors" && controller.action_name == "dashboard") %>">
                <%= link_to 'Dashboard', dashboard_author_path(current_author), :class => "black-link" %>
              </li>
              <li class="<%= ("font-w-bold" if controller.controller_name == "posts" && controller.action_name == "new") %>">
                <%= link_to 'New Post', new_post_path, :class => "black-link" %>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div class="nav-spacer"></div>
              <li>
                <%= link_to "Log out", session_path(current_author), method: "delete", :class => "black-link" %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#collapse-menu" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to root_url do %>
              <%= image_tag("blogr/logo_small.png", :class => "logo") %>
            <% end %>
          </div>
          <div class="collapse navbar-collapse" id="collapse-menu">
            <ul class="nav navbar-nav navbar-right">
              <li class="button-item">
                <%= link_to 'Startup Ideas Blog', root_url, :class => "normal-link font-serif" %>
              </li>
              <% unless controller_name == "subscribers" %>
                <div class="nav-spacer"></div>
                <li class="mlm">
                  <%= render "blogr/subscribers/form" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </nav>
<% end %>
